<%- include('./partials/header') %>

  <body>
    <div id="front-page">
      <h2>Coffee Babe</h2>
    <h3>Welcome to Coffee Babe, Your Coffee Brew Diary</h3>
    <p>Whether you want to become the AeroPress World Champion or you just want to make a better cup of morning coffee, Coffee Babe will help you track your recipes and coffee brewing skills!</p>
    <br>
    <p>Login now to start improving your coffee brew skills one diary entry at a time.</p>
    <div id="cover-photo">
      <img src="https://images.unsplash.com/photo-1598639298075-9f62f1fc5463?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1048&q=80"/>
    </div>
    </div>
  </body>
</html>


<%- include('./partials/footer') %>